# --- Kompilasi & Binari ---
*.o
*.obj
*.out
*.app
*.so
*.dll
*.dylib

# --- Direktori Build Umum ---
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/


# --- Visual Studio ---
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# --- CLion / JetBrains ---
.idea/
cmake-build-*/

# --- Logs & Temp ---
*.log
*.tmp
*.temp